.modal-new {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  width: 100%;

  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    .char {
      width: 350px;
    }

    .caracteristicas{
      display:grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;

      p, mat-icon {
        font-size: 30px;
        text-align: center;
      }
    }

  }



  .caract {
    text-align: center;


  }

  .episodios {

    width: 278px;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      width: 100%;
    }
  }

}

