
.title_name {
  width: 100%;
  text-align: center;
  padding-top: 40px;
  font-size: 32px;
}
.modal-new {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  width: 100%;

  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    .char {
      width: 350px;
    }

    .caracteristicas{
      display:grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 35px;
      justify-items: center;


    }

  }

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .mat-icon {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    width: 100%;
    font-size: 24px;
    margin:0px;

  }
}

  .caract {
    text-align: center;


  }

  .episodios {

    width: 278px;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      width: 100%;
    }
  }

}


