<div class="total">
  <div class="login">
    <form class="form">
      <span>Login</span>
      <div class="color">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Name</mat-label>
          <input type="text" matInput placeholder="Your Name">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Ex. pat@example.com">
        </mat-form-field>
      </div>

      <div class="button">
        <button mat-stroked-button color="primary" [routerLink]="'/card'">Entrar</button>
      </div>
      <!-- <div class="recovery">
        <a href=""> Esqueci minha senha</a>
        <a href="">Cadastrar novo usuário</a>
      </div> -->
    </form>
  </div>
  <div class="background">
  </div>
</div>
