<div class="total">
  <div class="login">
    <form class="form" autocomplete="off">
      <span>Login</span>
      <div class="color">


        <label for="name"> Seu nome</label>
        <input type="text" name="name" placeholder="Seu nome">

        <label for="email"> E-mail </label>
        <input type="email" name="email" placeholder="user@email.com">
      </div>

      <button type="submit" [routerLink]="'/card'" class="button">Entrar</button>

      <!-- <div class="button">
        <button mat-stroked-button color="primary" [routerLink]="'/card'">Entrar</button>
      </div> -->
      <!-- <div class="recovery">
        <a href=""> Esqueci minha senha</a>
        <a href="">Cadastrar novo usuário</a>
      </div> -->
    </form>
  </div>

</div>