.backForCard {
  // background-image: url(../../../assets/test5.png);
  background-color: #34313B;
  opacity: 90%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


  .form {

    width: 100%;
    background-color: #34313B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 24px;

    .input {
      width: 50vh;
      background-color: #34313B;
      color: #f1f1f1;



    }
    .mat-form-field-wrapper {
      padding-bottom: 0!important

    }


    ._button_filtros {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 10px;
      padding: 10px 0;

      .filter-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .filter {
          background-color: #f1f1f1;
          color: rgba(139, 33, 222, 1);
          border: none;
          padding: 8px 16px;
          border-radius: 4px;
          border: 1px solid rgba(139, 33, 222, 1);

          &:hover {
            border: 1px solid #fff;
            background: linear-gradient(90deg, rgba(99, 38, 250, 1) 0%, rgba(139, 33, 222, 1) 35%, rgba(212, 49, 245, 1) 100%);
            color: #f1f1f1
          }
        }


      }

      .submit {
        background: linear-gradient(90deg, rgba(99, 38, 250, 1) 0%, rgba(139, 33, 222, 1) 35%, rgba(212, 49, 245, 1) 100%);
        border: none;
        padding: 8px 16px;
        color: #f1f1f1;
        border-radius: 4px;

        &:hover {
          background-color: #f1f1f1;
          color: rgba(139, 33, 222, 1);
          border: 1px solid rgba(139, 33, 222, 1);
          color: #f1f1f1
        }

      }
    }
  }

  .title_person {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.719);
    font-size: 24px;
    font-weight: 500;
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;

    .gridCard {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 12px;
      align-items: center;
      justify-items: center;


      .grid_1 {
        grid-column: span 1;
      }

      .grid_2 {
        grid-column: span 2;
      }

      .grid_3 {
        grid-column: span 3;
      }

      .grid_4 {
        grid-column: span 4;
      }

    }

    .card {
      max-width: 300px;
      display: flex;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
      border: 2px solid rgb(99, 38, 250);
      background: linear-gradient(90deg, rgba(99, 38, 250, 1) 0%, rgba(139, 33, 222, 1) 35%, rgba(212, 49, 245, 1) 100%);
      border-radius: 4px;



      .img {
        width: fit-content;

      }

      img {
        width: 100%;
        height: 100%;
      }

      h3 {
        margin-bottom: 0;
        text-align: center;
        color: rgba(255, 255, 255, 0.719);
      }


    }

    @keyframes mymove {
      0% {
        top: 0px;
      }

      25% {
        top: 200px;
      }

      75% {
        top: 50px
      }

      100% {
        top: 100px;
      }
    }
  }
}

@media (max-width: 900px) {

  .backForCard {
    // background-image: url(../../../assets/test5.png);
    background-color: #34313B;
    opacity: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    .form {

      width: 100%;
      background-color: #34313B;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 24px;
  
      .input {
        width: 50vh;
        background-color: #34313B;
        color: #f1f1f1;
  
  
  
      }
      .mat-form-field-wrapper {
        padding-bottom: 0!important
  
      }
  

      ._button_filtros {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
        padding-bottom: 10px;

        .filter-buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;

          .filter {
            background-color: #f1f1f1;
            color: rgba(139, 33, 222, 1);
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            border: 1px solid rgba(139, 33, 222, 1);
          }
        }

        .submit {
          background: linear-gradient(90deg, rgba(99, 38, 250, 1) 0%, rgba(139, 33, 222, 1) 35%, rgba(212, 49, 245, 1) 100%);
          border: none;
          padding: 8px 16px;
          color: #f1f1f1;
          border-radius: 4px;

        }
      }

    }

    .title_person {
      padding-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(255, 255, 255, 0.719);
      font-size: 20px;
      font-weight: 500;
    }

    .flex {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 20px 0;

      .gridCard {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
        align-items: center;
        justify-items: center;


        .grid_1 {
          grid-column: span 1;
        }

        .grid_2 {
          grid-column: span 2;
        }

        .grid_3 {
          grid-column: span 3;
        }

        .grid_4 {
          grid-column: span 4;
        }

        .grid_5 {
          grid-column: span 5;
        }

        .grid_6 {
          grid-column: span 6;
        }

        .grid_7 {
          grid-column: span 7;
        }
      }

      .card {
        width: 300px;
        display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border: 2px solid rgb(99, 38, 250);
        background: linear-gradient(90deg, rgba(99, 38, 250, 1) 0%, rgba(139, 33, 222, 1) 35%, rgba(212, 49, 245, 1) 100%);


        .img {
          width: fit-content;

        }

        img {
          width: 100%;
          height: 100%;
        }

        h3 {
          margin-bottom: 0;
          text-align: center;
          color: rgba(255, 255, 255, 0.719);
        }


      }

      @keyframes mymove {
        0% {
          top: 0px;
        }

        25% {
          top: 200px;
        }

        75% {
          top: 50px
        }

        100% {
          top: 100px;
        }
      }
    }
  }
}